<div class="grow flex flex-col bg-slate-100 rounded-t-md">
  <div class="p-4 bg-white flex justify-between my-auto rounded-t-md">
    <div>
      <p><%= @recurring_event.name%></p>
      <p class='text-xs'><%= @event.happens_at.to_date %></p>
    </div>
    <div class="flex flex-col justify-center">
      <%= link_to root_path do %>
        <%= inline_svg_tag('icons/x.svg') %>
      <% end %>
    </div>
  </div>
  <div id='messages' class="grow overflow-scroll flex flex-col-reverse gap-2 h-8  m-4">
    <% @messages.each do |message| %>
      <% if message.employee_id == @employee.id %>
          <%= render 'messages/sent', message: message %>
        <% else %>
          <%= render 'messages/received', message: message %>
      <% end %> 
    <% end %>
  </div>
  <div id='new_message' class="mx-4 px-4 bg-white rounded-3xl mb-4 p-2">
    <%= form_for @message, html: {class: 'flex justify-between gap-4'} do |f| %>
      <%= f.text_field( 
        :content, 
        class: 'grow border-none', 
        placeholder: t("channels.views.show.new_message.form.content.placeholder") 
      )%>
      <%= f.hidden_field :channel_id %>
      <%= f.hidden_field :employee_id %>
      <%= f.button nil, class: "button_green" do %>
          <%= inline_svg_tag('icons/send.svg', class: 'text-slate-500') %>
      <% end %>
    <% end %>
  </div>
</div>
