<div class="grow flex flex-col gap-4">
  <div>
    <h1 class="font-bold text-4xl text-center"><%= @recurring_event.name.upcase_first %></h1>
    <h3 class="font-bold text-xl text-center"><%= t('recurring_events.show.next_recurring_event') %></h3>
    <h1 class="font-bold text-4xl text-center"><%= @event.happens_at %></h1>
    <h3 class="font-bold text-xl text-center"><%= t('recurring_events.show.participations_count', count: @participations_count) %></h3>
  </div>
  <% if @participation %>
      <%= render 'participations/destroy', participation: @participation %>
    <% else %>
      <%= render 'participations/create', employee: @employee, event: @event %>
  <% end %>
</div>
