<!DOCTYPE html>
<html class="bg-sky-50 h-screen flex flex-col">
  <head>
    <title>Crosslunch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class='grow flex p-12'>
    <main class="container p-8 flex flex-col bg-white rounded-md shadow-md">
      <%= yield %>
    </main>
  </body>
</html>
